#ifndef SECRETS_H
#define SECRETS_H

/* WiFi Credentials */
#define WIFI_SSID "YOUR_SSID"
#define WIFI_PASS "YOUR_PASS"

/* MQTT Broker IP (Local machine IP for development, RPi IP for production) */
#define MQTT_BROKER "10.42.0.1"

#endif
